.menu{
	height: 100%;
	width: 20%;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #0052C2;
	overflow-x: hidden;
	padding-top: 20px;
}

.menucontent{
	padding-top: 25%;
}


.menu a{
	padding-top: 50px;
	padding-left: 60px;
	text-decoration: none;
  text-transform: uppercase;
	color: white;
	display: block;
	font-family: 'Cantarell', sans-serif;
	font-size: 25px;
	line-height: 50px;
}

.menu a:hover{
	color:red;
}

.dropbtn {
	z-index: 1;
	background:transparent;
	overflow-x: hidden;
	padding-top: 50px;
	padding-left:60px;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	display: block;
	font-family: 'Cantarell', sans-serif;
	font-size: 25px;
	line-height: 50px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
	width:180%;
  position: absolute;
  background-color: white;
	opacity:0.8;
	filter:alpha(opacity=80);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px 0px 60px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
		color: red;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
	color: white;

}

.intro{
	margin: 30px;
	position: absolute;
	top: 50%;
	left: 40%;
	transform: translate(-60%, -60%);
	line-height: 50px;
}

.introimg img{
	height:auto;
	width:80%;
	float:left;
	opacity:0.5;
	filter:alpha(opacity=50);
}


.MainCentered{
	padding-left: 5%;
	padding-top:60%;
	padding-right:25%;
}
.OMainCentered{
	margin-top:2%;
	padding-right:20%;
	margin-left: 5%;
}

.redbar {
  position: relative;
  margin-top: -180px;
  /* negative value of footer height */
  height: 210px;
  background-color: red;
}

.footer{
	margin-left: 20%;
	margin-top: 150px;
}

.footer img{
	align-items: center;
	width:30%;
	height:auto;
	position:relative;
	float:left;
	margin:0 0 50px 0;
}

h1 {
	font-family: 'Fjalla One', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 130px;
	margin: 0 0 30px 0;
	color:#2E2A2A;
	}

h2 {
	font-family: 'Cantarell', sans-serif;
	font-size: 40px;
	text-transform: uppercase;
	margin: 0 0 23px 0;
	color:white;
	}

h3 {
	font-family: "PT Sans Narrow";
  font-weight: 10000;
	font-size:50px;
  text-transform: uppercase;
  letter-spacing: 10px;
	color:#4F4E4E;
  }

h4{
	font-family: "PT Sans Narrow";
	font-weight: 1000;
	font-size: 40px;
	line-height: 40px;
	text-transform: uppercase;
	letter-spacing: 20px;
	margin: 40px 0 30px 0;

}
p{
	font-family: 'Cantarell', sans-serif;
	font-size: 30px;
	color:#4F4E4E;
}

button{
	background: transparent;
	border:0px;
}






/*slideshow*/

button:hover{
	background-color: gray;
}

/*div stuff*/
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
	height:600px;
	width:auto;
  align-items: center;
  margin: auto;
}

.slideshow-container img{
	height:600px;
	width:auto;
}

.prev{
	float:left;
}

.next{
	float:right;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  width: auto;
  padding: 16px;
	margin-top:20%;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */

/* Number text (1/3 etc) */

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.gallery{
	align-items: center;
	padding-left: 4%;
	padding-right: 18%;
	padding-top:20px;
}

.gallery img {
    width: 400px;
    height: 300px;
		margin:2px;
}

.responsive {
    float: left;
}

mark{
	background-color: #BFBEBE;
	color:white;
}

.leftNote{
	float:left;
	margin-left: 50px;
	width:35%;
}

.leftNote p{
	font-family: 'Cantarell', sans-serif;
	font-size: 30px;
	color:#4F4E4E;
}

.rightNote{
	float:right;
	margin-right:25%;
	width:35%;
}
.centerNote{
	float:left;
	margin-left: 20%;
	margin-right: 40%;
}
